@import "tailwindcss";
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-jetbrains), ui-monospace, SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.5px #ff8503;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #ff8503;
  color: #ff8503;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

/* image part */
.home-img .img-box {
  position: relative;
  padding: 4px;
  width: 26vw;
  height: 26vw;
  max-width: 26vw;
  max-height: 26vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 620px;
  height: 620px;
  background: conic-gradient(transparent, transparent, transparent, #ff8503);
  transform: rotate(0deg);
  animation: roated-border 10s linear infinite;
}
.home-img .img-box::after {
  animation-delay: -5s;
}
@keyframes roated-border {
  100% {
    transform: rotate(360deg);
  }
}
.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #101828;
  background: #101828;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
.home-img .img-box .img-item img {
  position: absolute;
  top: 10px;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}
